*{	
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(./latest.jpg);
	min-height: 1200px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,1)),url(./i.jpg);
	height: .001px;
	background-size: top;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block; 
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff; 
	color: #000;
}

ul li.active a{
	background-color: #fff; 
	color: #000;
}

.logo img{
	float: left;
	width: 100px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;

}

.article {
	position:absolute;
	top: 30%;
	width: 90%;
    margin-left: auto;
    margin-right: auto;
	display: block;
}

.article h1{
	color: white;
	font-size: 50px;

}


.article p{
	color: grey;
	font-size: 15px;
}

.article-title {
	margin-bottom: 15px;
}

.article .article-image {
	height: 200px;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
    margin-left: 14px;
    margin-right: auto;
	display: block;
}

.article b{
	margin-left: 5px;
	color: yellow;
	font-size: 15px
}

.button{
	position:absolute;
	top:60%;
	left:50%;
	transform: translate(-50%,-50%);
}
.btn{

	border:1px solid #fff;
	padding:10px 30px;
	color:#fff;
	text-decoration:none;

}
footer{
text-align:center;
background-color:#333;
color:#fff;
padding:23px;
position:relative;
bottom:0;
width:1155px;




}


















